@import "../../../../libs/shared/styles/src/lib/appearance";

:host {
  --mdc-outlined-card-container-color: var(--app-container);
  color: var(--app-secondary);
  width: 50%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  align-items: center;
}

.plan-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: .5rem;
}

.header {
  color: var(--app-emphasize);
}

.sub-header {
  font-size: 2.5rem;
  line-height: normal;
  text-align: center;
}

.month {
  font-size: 1.5rem;
  line-height: normal;
}

.plan-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.plan-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;

  :first-child {
    flex-basis: 20%;
    min-width: 26px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  :nth-child(2) {
    flex-basis: 80%;
  }
}

.step {
  color: var(--app-emphasize);
  font-family: Ultra, serif;
  font-size: 6rem;
}

@media only screen and (max-width: 1620px) {
  .header {
    font-size: 2rem;
  }

  .sub-header {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1170px) {
  :host {
    width: 100%;
  }

  .step {
    font-size: 4rem;
  }

  .month {
    word-break: break-word;
  }
}
