<mat-card appearance="outlined">
  <mat-card-content>
    <div class="plan-info">
      <span class="header">Trainingsplan</span>
      <span class="sub-header">FÜR EINE VORBEREITUNGSZEIT VON</span>
      <span class="sub-header">CA. 3 MONATEN</span>
    </div>
    <div class="plan-container">
      <div class="plan-row">
        <b class="step">1</b>
        <div>
          <b class="month">März/April: Ausdauer & Koordination</b>
          <p>
            Versorgt eure Freunde im 5 km-Umkreis per Fußmarsch mit vollen
            Bier-/ oder Weinkisten. Helft ihnen anschließend dabei sie zu leeren
            und versucht selbstständig wieder nach Hause zu finden!
          </p>
        </div>
      </div>
      <div class="plan-row">
        <b class="step">2</b>
        <div>
          <b class="month">April/Mai: Massephase</b>
          <p>
            Trinkt Massen an Bier und Spritzwein um euren Körper auch von innen
            optimal auf den Wettkampf vorzubereiten
          </p>
        </div>
      </div>
      <div class="plan-row">
        <b class="step">3</b>
        <div>
          <b class="month">Mai/Juni: Abschlussvorbereitungen</b>
          <p>
            Plant euren Team-Auftritt und übt eure Siegesposen! Ein stabiles
            Mindset ist schon der halbe Gewinn.
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
