@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../../../../node_modules/@gepardec/ngx-gepardec-mat/styles/dynamic-table/dynamic-table-theme' as dynamic-table;
@use '../../../../node_modules/@gepardec/ngx-gepardec-mat/styles/expandable-dynamic-table/expandable-dynamic-table-theme' as expandable-dynamic-table;
@use '../../../../libs/shared/styles/src/lib/appearance' as appearance;

@import 'colors';

$bierrallye-dark-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-orange-palette,
    tertiary: matx.$m3-azure-palette,
  ),
  typography: (
    plain-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

$configuration: appearance.configure-app-appearance($brown, $light-brown, $black, $gold);

//--------------------------------------------------------------------------------------
// MIXINS
//--------------------------------------------------------------------------------------
html {
  @include mat.all-component-themes($bierrallye-dark-theme);

  @include appearance.app-appearance($configuration);
}

@include mat.core();
@include mat.typography-hierarchy($bierrallye-dark-theme);

@include dynamic-table.theme($bierrallye-dark-theme);
@include expandable-dynamic-table.theme($bierrallye-dark-theme);

.secondary-button {
  @include mat.button-color($bierrallye-dark-theme, $color-variant: secondary);
}

.tertiary-button {
  @include mat.button-color($bierrallye-dark-theme, $color-variant: tertiary);
}
